<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
                <link rel="icon" href="/logo.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>Wait what the fuck.... About???</p> <p>I`m <b>ABOUT</b> to put mah foot in yo ass</p>
    <img class="portrait" src="/Smoking.jpg">
        </div>
    {{>footer}}
    </body>
</html>